  body {
    margin:0;
  }
  a {
    text-decoration: none;
  }
  li {
    color:black;
  }
  a, a:visited, a:active {
  color: inherit;
}
A:hover {
  COLOR: pink; TEXT-DECORATION: none; font-weight: none
}
  h1 {
    font-size: 45px;
    color:white;
    text-align: center;
    border-bottom: 1px solid gray;
    margin:0;
    padding:50px;
    padding-bottom: 60px;
    background-image : url('C:/Users/사용자/Desktop/web/h1mainimage.jpg');
    background-size: cover;
  }
  ol {
    border-right:1px solid gray;
    width:120px;
    margin:0;
    padding:20px;
    padding-left:35px;
  }
  #grid{
    display:grid;
    grid-template-columns: 210px 1fr;
  }
  @media(max-width:800px) {
    #grid{
      display:block;
    }
    ol {
      border-right:none;
    }
    h1 {
    border-bottom: none;
    font-size: 40px;
  }
  }
